DROP DATABASE IF EXISTS [tennis] 
GO
CREATE DATABASE [tennis]
GO
USE [tennis]
GO
ALTER TABLE [dbo].[TEAMS] DROP CONSTRAINT [FK__TEAMS__PLAYERNO__300424B4]
GO
ALTER TABLE [dbo].[PENALTIES] DROP CONSTRAINT [FK__PENALTIES__PLAYE__2F10007B]
GO
ALTER TABLE [dbo].[MATCHES] DROP CONSTRAINT [FK__MATCHES__TEAMNO__2E1BDC42]
GO
ALTER TABLE [dbo].[MATCHES] DROP CONSTRAINT [FK__MATCHES__PLAYERN__2D27B809]
GO
ALTER TABLE [dbo].[COMMITTEE_MEMBERS] DROP CONSTRAINT [FK__COMMITTEE__PLAYE__2C3393D0]
GO
/****** Object:  Table [dbo].[TEAMS]    Script Date: 2021-02-10 22:43:51 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TEAMS]') AND type in (N'U'))
DROP TABLE [dbo].[TEAMS]
GO
/****** Object:  Table [dbo].[PLAYERS]    Script Date: 2021-02-10 22:43:51 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PLAYERS]') AND type in (N'U'))
DROP TABLE [dbo].[PLAYERS]
GO
/****** Object:  Table [dbo].[PENALTIES]    Script Date: 2021-02-10 22:43:51 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PENALTIES]') AND type in (N'U'))
DROP TABLE [dbo].[PENALTIES]
GO
/****** Object:  Table [dbo].[MATCHES]    Script Date: 2021-02-10 22:43:51 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MATCHES]') AND type in (N'U'))
DROP TABLE [dbo].[MATCHES]
GO
/****** Object:  Table [dbo].[COMMITTEE_MEMBERS]    Script Date: 2021-02-10 22:43:51 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMMITTEE_MEMBERS]') AND type in (N'U'))
DROP TABLE [dbo].[COMMITTEE_MEMBERS]
GO
/****** Object:  Table [dbo].[COMMITTEE_MEMBERS]    Script Date: 2021-02-10 22:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMITTEE_MEMBERS](
	[PLAYERNO] [int] NOT NULL,
	[BEGIN_DATE] [date] NOT NULL,
	[END_DATE] [date] NULL,
	[POSITION] [char](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PLAYERNO] ASC,
	[BEGIN_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATCHES]    Script Date: 2021-02-10 22:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATCHES](
	[MATCHNO] [int] NOT NULL,
	[TEAMNO] [int] NOT NULL,
	[PLAYERNO] [int] NOT NULL,
	[WON] [smallint] NOT NULL,
	[LOST] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATCHNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PENALTIES]    Script Date: 2021-02-10 22:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PENALTIES](
	[PAYMENTNO] [int] NOT NULL,
	[PLAYERNO] [int] NOT NULL,
	[PAYMENT_DATE] [date] NOT NULL,
	[AMOUNT] [decimal](7, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PAYMENTNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLAYERS]    Script Date: 2021-02-10 22:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAYERS](
	[PLAYERNO] [int] NOT NULL,
	[NAME] [char](15) NOT NULL,
	[INITIALS] [char](3) NOT NULL,
	[BIRTH_DATE] [date] NULL,
	[SEX] [char](1) NOT NULL,
	[JOINED] [smallint] NOT NULL,
	[STREET] [char](30) NOT NULL,
	[HOUSENO] [char](4) NULL,
	[POSTCODE] [char](6) NULL,
	[TOWN] [char](10) NOT NULL,
	[PHONENO] [char](13) NULL,
	[LEAGUENO] [char](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[PLAYERNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEAMS]    Script Date: 2021-02-10 22:43:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEAMS](
	[TEAMNO] [int] NOT NULL,
	[PLAYERNO] [int] NOT NULL,
	[DIVISION] [char](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TEAMNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[COMMITTEE_MEMBERS] ([PLAYERNO], [BEGIN_DATE], [END_DATE], [POSITION]) VALUES (2, CAST(N'2017-01-01' AS Date), CAST(N'2019-12-31' AS Date), N'Chairman            ')
INSERT [dbo].[COMMITTEE_MEMBERS] ([PLAYERNO], [BEGIN_DATE], [END_DATE], [POSITION]) VALUES (2, CAST(N'2021-01-01' AS Date), NULL, N'Member              ')
INSERT [dbo].[COMMITTEE_MEMBERS] ([PLAYERNO], [BEGIN_DATE], [END_DATE], [POSITION]) VALUES (6, CAST(N'2017-01-01' AS Date), CAST(N'2017-12-31' AS Date), N'Secretary           ')
GO
INSERT [dbo].[MATCHES] ([MATCHNO], [TEAMNO], [PLAYERNO], [WON], [LOST]) VALUES (1, 1, 6, 3, 1)
INSERT [dbo].[MATCHES] ([MATCHNO], [TEAMNO], [PLAYERNO], [WON], [LOST]) VALUES (2, 1, 6, 2, 3)
INSERT [dbo].[MATCHES] ([MATCHNO], [TEAMNO], [PLAYERNO], [WON], [LOST]) VALUES (3, 1, 6, 3, 0)
GO
INSERT [dbo].[PENALTIES] ([PAYMENTNO], [PLAYERNO], [PAYMENT_DATE], [AMOUNT]) VALUES (1, 6, CAST(N'2016-12-08' AS Date), CAST(100.00 AS Decimal(7, 2)))
INSERT [dbo].[PENALTIES] ([PAYMENTNO], [PLAYERNO], [PAYMENT_DATE], [AMOUNT]) VALUES (2, 44, CAST(N'2017-05-05' AS Date), CAST(75.00 AS Decimal(7, 2)))
INSERT [dbo].[PENALTIES] ([PAYMENTNO], [PLAYERNO], [PAYMENT_DATE], [AMOUNT]) VALUES (3, 27, CAST(N'2019-09-10' AS Date), CAST(100.00 AS Decimal(7, 2)))
GO
INSERT [dbo].[PLAYERS] ([PLAYERNO], [NAME], [INITIALS], [BIRTH_DATE], [SEX], [JOINED], [STREET], [HOUSENO], [POSTCODE], [TOWN], [PHONENO], [LEAGUENO]) VALUES (2, N'Everett        ', N'R  ', CAST(N'1978-09-01' AS Date), N'M', 2005, N'Stoney Road                   ', N'43  ', N'3575NH', N'Stratford ', N'070-237893   ', N'2411')
INSERT [dbo].[PLAYERS] ([PLAYERNO], [NAME], [INITIALS], [BIRTH_DATE], [SEX], [JOINED], [STREET], [HOUSENO], [POSTCODE], [TOWN], [PHONENO], [LEAGUENO]) VALUES (6, N'Parmenter      ', N'R  ', CAST(N'1994-06-25' AS Date), N'M', 2007, N'Haseltine Lane                ', N'80  ', N'1234KK', N'Stratford ', N'070-476537   ', N'8467')
INSERT [dbo].[PLAYERS] ([PLAYERNO], [NAME], [INITIALS], [BIRTH_DATE], [SEX], [JOINED], [STREET], [HOUSENO], [POSTCODE], [TOWN], [PHONENO], [LEAGUENO]) VALUES (7, N'Wise           ', N'GWS', CAST(N'1993-05-11' AS Date), N'M', 2011, N'Edgecombe Way                 ', N'39  ', N'9758VB', N'Stratford ', N'070-347689   ', NULL)
GO
INSERT [dbo].[TEAMS] ([TEAMNO], [PLAYERNO], [DIVISION]) VALUES (1, 6, N'first ')
INSERT [dbo].[TEAMS] ([TEAMNO], [PLAYERNO], [DIVISION]) VALUES (2, 27, N'second')
GO
ALTER TABLE [dbo].[COMMITTEE_MEMBERS]  WITH CHECK ADD FOREIGN KEY([PLAYERNO])
REFERENCES [dbo].[PLAYERS] ([PLAYERNO])
GO
ALTER TABLE [dbo].[MATCHES]  WITH CHECK ADD FOREIGN KEY([PLAYERNO])
REFERENCES [dbo].[PLAYERS] ([PLAYERNO])
GO
ALTER TABLE [dbo].[MATCHES]  WITH CHECK ADD FOREIGN KEY([TEAMNO])
REFERENCES [dbo].[TEAMS] ([TEAMNO])
GO
ALTER TABLE [dbo].[PENALTIES]  WITH CHECK ADD FOREIGN KEY([PLAYERNO])
REFERENCES [dbo].[PLAYERS] ([PLAYERNO])
GO
ALTER TABLE [dbo].[TEAMS]  WITH CHECK ADD FOREIGN KEY([PLAYERNO])
REFERENCES [dbo].[PLAYERS] ([PLAYERNO])
GO
